body {
	/*font-family: courier new;*/
	width:75%;
	margin:1em auto 0 auto;
	padding:0px 20px 20px 20px;
	border:solid 2px grey;
}
#enregistrements, #listes {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 2em;
}
#ajoutAdherent {
	width:50%;
}
#ajoutLivre {
	width:50%;
}
#adh {
	width:20%;
}
#dispos, #empr {
	width:40%;
}

#adh fieldset, #dispos fieldset, #empr fieldset {
	min-height:35em;
}

legend {
	font-size: 1.5em;
}
h2 {
	font-size: 2em;
	color:white;
	background-color: grey;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 4px 4px 4px black;
    text-align: center;
}
ul {
	padding-left: 20px;
}
li {
	cursor:pointer;
	background-color: white;
	line-height: 1.5em;
}
li:hover {
	background-color: lightgrey;
}
input {
	padding:5px;
	font-size: 1.2em;
}

input[type="button"] {
	width:25%;
}
input[type="text"] {
	width:70%;
}

input {
	min-height:1.2em;
}

fieldset {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}

button {
	margin: auto;
	margin-bottom: 5px;
}

#memberText{
	
}

#shadow {
	position: fixed;
	background-color: black;
	opacity: 0.5;
	width:100vw;
	height: 100vh;
	z-index: 1;
	top:0;
	left:0;
	cursor: pointer;
	display:none;
}

.popUP{
	width:20rem;
	height: auto;
	position: fixed;
	transform: translate(-50%,-50%);
	top:50%;
	left:50%;
	background-color: white;
	border: black 1px solid;
	z-index:2;
	display:none;
}

p{
	text-align: center;
}

.button {
	width: 30%;
	position: relative;
	margin-left: 35%;
}
